.custom-toolbar {
  background-color: #3f51b5;
  color: white;
  padding: 0 16px;
  height: 64px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.spacer {
  flex: 1 1 auto;
}

.user-button {
  display: flex !important;
  align-items: center !important;
  gap: 12px;
  padding: 0 8px !important;

  min-height: 40px !important;
  height: 40px !important;
  line-height: 40px !important;

  border-radius: 8px;
  color: white;
  text-transform: none;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(174, 175, 174, 0.897);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: white;
}