<h2 mat-dialog-title>
  {{ data.mode === 'create' ? 'Create Project' : 'Edit Project' }}
</h2>
<div mat-dialog-content>
  <form [formGroup]="form" class="form">
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" maxlength="120" />
      <mat-hint align="end">{{ form.get('name')?.value?.length || 0 }}/120</mat-hint>
      <mat-error *ngIf="form.get('name')?.hasError('required')">Name is required</mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('maxlength')">Max 120 characters</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option [value]="ProjectStatus.ACTIVE">ACTIVE</mat-option>
        <mat-option [value]="ProjectStatus.ARCHIVED">ARCHIVED</mat-option>
      </mat-select>
    </mat-form-field> -->

    <ng-container *ngIf="data.mode === 'edit'">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option [value]="ProjectStatus.ACTIVE">Active</mat-option>
          <mat-option [value]="ProjectStatus.ARCHIVED">Archived</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()" [disabled]="saving">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="saving || form.invalid">
    {{ data.mode === 'create' ? 'Create' : 'Save' }}
  </button>
</div>